<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0EsPxBPr_fA-nhpxvG0kT36IqqtIwAR4</string>
	<key>GCM_SENDER_ID</key>
	<string>63894988040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ciputraPatroli</string>
	<key>PROJECT_ID</key>
	<string>ciputrapatroli</string>
	<key>STORAGE_BUCKET</key>
	<string>ciputrapatroli.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63894988040:ios:c1b17bc2de4c0aa77f78bd</string>
</dict>
</plist>